<!-- views/partials/guestbook.ejs -->

<div>

<table border="2">
  <tr>
    <td style="text-align:center;">NAME</td>
    <td style="text-align:center">COUNTRY</td>
    <td style="text-align:center">MESSAGE</td>
    <td style="text-align:center">PROFESSION</td>
  </tr>

<!-- render nicely through forEach-->
<% data.forEach(function(data) { %>
  <tr>
    <td class="joku" style="text-align:center"><strong><%= data.username %></strong></td>
    <td style="text-align:center"><%= data.country %></td>
    <td style="text-align:center"><%= data.message %></td>
    <td style="text-align:center"><%= data.profession %></td>
  </tr>
    <% }); %>

</table>

</div>
